<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Personal Stylesheets -->
    <link th:href="@{/css/main.css}" rel="stylesheet" />

    <!-- FontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <!-- components.html -->
    <div
      th:fragment="gameCard(game)"
      class="row no-gutters align-items-center gmCard"
    >
      <!-- Left side of card (Game image) -->
      <div class="col-3">
        <img
          src="/images/game.jpg"
          alt="Game Image"
          width="150px"
          height="150px"
        />
      </div>

      <!-- Right side of card (Game information) -->
      <div class="col-md-9">
        <!-- Adjust the column size as needed -->
        <p th:text="${game.getGameName}" class="h2"></p>
        <p class="h5">
          Category:
          <span th:text="${game.getGameCategory}" class="h5"></span>
        </p>

        <img
          th:src="@{'data:image/jpg;base64,' + ${game.getImageAsBase64 }}"
          alt="Game Image"
        />
        <img
          th:src="'data:image/png;base64,' + ${game.getImageAsBase64}"
          alt="Image"
        />
        <!-- 
            <img th:if="${game.getImageAsBase64 != null}"
                 th:src="data:image/png;base64, ${game.getImageAsBase64}"
                 alt="game Image"/> -->
      </div>
    </div>
  </body>

  <style>
    .deCard {
      color: red;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  </style>
</html>
